<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
        <h1>99 Cats!</h1>
        <ul>
          <% if current_user %>
          <li><%= current_user.username %></li>
          <li><%= link_to "Logout", session_url, method: "delete" %></li>
          <% else %>
          <li><%= link_to "Login", new_session_url %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
